th[data-sort]{
  cursor:pointer;
}

tr[data-href]{
  cursor:pointer;
}

td {
  text-align: left;
}

/* Custom container */
.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}

.container-fixed > hr {
  margin: 30px 0;
}

.jumbotron, .navbar {
  background-color: #ffffff;
}

pre {
  text-align: left;
  white-space: pre-line;
}

#id {
  width : 15%;
}

.form-inline {
  text-align:left;
}

.form-left .form-group {
    text-align: left;
}

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(30deg,#2276ad,#6ec654); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(30deg,#2276ad,#6ec654); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(30deg,#2276ad,#6ec654); /* For Firefox 3.6 to 15 */
  background: linear-gradient(30deg,#2276ad,#6ec654); /* Standard syntax */
  background-attachment: fixed;
}
