th[data-sort]{
  cursor:pointer;
}

tr[data-href]{
  cursor:pointer;
}

td {
  text-align: left;
}

/* Custom container */
.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}

.container-fixed > hr {
  margin: 30px 0;
}

.jumbotron {
  background-color: #f4f4f4;
}

pre {
  text-align: left;
  white-space: pre-line;
}

#id {
  width : 15%;
}

.modal-dialog,
.modal-content {
    height: 90%;
}

.modal-body {
    position: relative;
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);

    overflow-y: auto;
}

.form-inline {
  text-align:left;
}

.form-left .form-group {
    text-align: left;
}
