<!doctype html>
<title>Fleet Browser</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/stupidtable.min.js') }}"></script>

<div class="container-fixed">

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Fleet Browser</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="dashboard"><a href="/dashboard">Dashboard</a></li>
          <li id="state"><a href="/state">State</a></li>
          <li id="units"><a href="/units">Units</a></li>
          <li id="machines"><a href="/machines">Machines</a></li>
          <li id="logout" class="pull-right"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="jumbotron text-center">
    {% block body %}{% endblock %}
  </div>

</div>
