{% extends "layout.html" %}
{% block body %}

<div class="container table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th data-sort="string">MACHINE</th>
        <th data-sort="string">IP</th>
      </tr>
    </thead>
    <tbody>
      {% for machine in machines %}
      <tr>
        <td>{{ machine.id }}</td>
        <td>{{ machine.primaryIP }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(function() {
  $("table").stupidtable();
  $('#machines').attr("class", "active");
});
</script>
{% endblock %}
