{% extends "layout.html" %}
{% block body %}

<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th data-sort="string">UNIT</th>
        <th data-sort="string">DSTATE</th>
        <th data-sort="string">STATE</th>
      </tr>
    </thead>
    <tbody>
      {% for unit in units %}

      {% if unit.currentState == "launched" %}
        <tr data-href="/units/{{ unit.name }}" class="success">
      {% elif unit.currentState == "failed" %}
        <tr data-href="/units/{{ unit.name }}" class="danger">
      {% elif unit.currentState == "inactive" %}
        <tr data-href="/units/{{ unit.name }}" class="warning">
      {% elif unit.currentState == "loaded" %}
        <tr data-href="/units/{{ unit.name }}" class="active">
      {% else %}
        <tr data-href="/units/{{ unit.name }}">
      {% endif %}

        <td>{{ unit.name }}</td>
        <td class="{{ unit.desiredState }}">{{ unit.desiredState }}</td>
        <td class="{{ unit.currentState }}">{{ unit.currentState }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit" href="#newServiceFile" class="btn btn-primary pull-right" data-toggle="modal">New</button>

  <div id="newServiceFile" class="modal fade">
    <div class="modal-dialog" id="newServiceFileDialog">
      <div class="modal-content" id="newServiceFileContent">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Create new service file</h4>
        </div>
          <div class="modal-body" id="newServiceFileBody">
            <form  class="form-left" role="form">
              <div class="form-group">
                <label for="service-name">Name:</label>
                <input class="form-control" id="service-name">
              </div>
              <div class="form-group">
                <label for="service-file">Content:</label>
                <textarea class="form-control" rows="16" id="service-file" ></textarea>
              </div>
            </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success pull-right" id="btnLaunch">Launch</button>
          <button type="submit" class="btn btn-primary pull-right" id="btnLoad">Load</button>
          <button type="submit" class="btn btn-info pull-right" id="btnSubmit">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<script>
$(function() {
  $("table").stupidtable();
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
  });

  $('#units').attr("class", "active");

  $('#btnLaunch').on("click", function(){
    var name = $("#service-name").val();
    var serviceFile = $("#service-file").val();

    $.ajax({
      url: '/units/' + name,
      type: 'PUT',
      success: function () {alert('Sucessful API call.')},
      error: function () {alert('Error on API call. Verify your service file.')},
      data: {'serviceFile': serviceFile, 'desiredState': 'launched'}
    });

    $('#newServiceFile').modal('hide');
  });

  $('#btnLoad').on("click", function(){
    var name = $("#service-name").val();
    var serviceFile = $("#service-file").val();
    console.log(serviceFile)

    $.ajax({
      url: '/units/' + name,
      type: 'PUT',
      success: function () {alert('Sucessful API call.')},
      error: function () {alert('Error on API call. Verify your service file.')},
      data: {'serviceFile': serviceFile, 'desiredState': 'loaded'}
    });

    $('#newServiceFile').modal('hide');
  });

  $('#btnSubmit').on("click", function(){
    var name = $("#service-name").val();
    var serviceFile = $("#service-file").val();

    $.ajax({
      url: '/units/' + name,
      type: 'PUT',
      success: function () {alert('Sucessful API call.')},
      error: function () {alert('Error on API call. Verify your service file.')},
      data: {'serviceFile': serviceFile, 'desiredState': 'inactive'}
    });

    $('#newServiceFile').modal('hide');
  });

});
</script>
{% endblock %}
